body {
  margin: 0;
  font-family: "Safiro Font", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Safiro Font";
  src: url("fonts/safiro-medium.otf") format("opentype");
}
